
.fa-share:before { content: '\e800'; } /* '' */
.fa-phone:before { content: '\e801'; } /* '' */
.fa-shopping-cart:before { content: '\e802'; } /* '' */
.fa-search:before { content: '\e803'; } /* '' */
.fa-bars:before { content: '\e804'; } /* '' */
.fa-star-o:before { content: '\e805'; } /* '' */
.fa-th-list:before { content: '\e806'; } /* '' */
.fa-th:before { content: '\e807'; } /* '' */
.fa-check-circle:before { content: '\e808'; } /* '' */
.fa-refresh:before { content: '\e809'; } /* '' */
.fa-times-circle:before { content: '\e80a'; } /* '' */
.fa-info-circle:before { content: '\e80b'; } /* '' */
.fa-home:before { content: '\e80c'; } /* '' */
.fa-user:before { content: '\e80d'; } /* '' */
.fa-calendar:before { content: '\e80e'; } /* '' */
.fa-book:before { content: '\e80f'; } /* '' */
.fa-chevron-right:before { content: '\e810'; } /* '' */
.fa-chevron-left:before { content: '\e811'; } /* '' */
.fa-heart-o:before { content: '\e812'; } /* '' */
.fa-plus:before { content: '\e813'; } /* '' */
.fa-caret-down:before { content: '\e814'; } /* '' */
.fa-exclamation-circled:before { content: '\e815'; } /* '' */
.fa-spin:before { content: '\e816'; } /* '' */
.fa-arrow-up:before { content: '\e817'; } /* '' */
.fa-star:before { content: '\e818'; } /* '' */
.fa-minus:before { content: '\e819'; } /* '' */
.fa-upload:before { content: '\e81a'; } /* '' */
.fa-chevron-up:before { content: '\e81b'; } /* '' */
.fa-chevron-down:before { content: '\e81c'; } /* '' */
.fa-clock:before { content: '\e81d'; } /* '' */
.fa-eye:before { content: '\e81e'; } /* '' */